/* regole generali */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* bordi ondeggianti */

svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 30%;
    vertical-align: middle;
    overflow: hidden;
  }

/* bottoni  */
.button-white{
    background-color: white;
    color: black;
}
.button-blue{
background-color:rgb(88,101,242);

}
.button-black{
background-color: rgb(28,27,41);


}

.button-small{
    width: 80px;
    height: 40px;
    border-radius: 50px;
    border-color: rgba(0, 0, 0,0);
}

.button-medium{
    width: 120px;
    height: 40px;
    border-radius: 50px;
    border-color: rgba(0, 0, 0,0);
    font-size: medium;
}
.button-big{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border-color: rgba(0, 0, 0,0);
    font-size: larger;
}
.button-long{
    width: 300px;
    height: 50px;
    border-radius: 50px;
    border-color: rgba(0, 0, 0,0);
    font-size: larger;
}
button a{
    text-decoration: none;
    color: white;
}
.button-white a{
    color: black;
}
.button-blue a{
    color: white;
}
button a:hover{
    color:rgb(64,78,237);
}

/* shadowing sul hovering work in progress */
.button-black, .button-blue a:hover{
    color: rgba(255, 255, 255, 0.5);
    text-shadow:0px 0px 1000px #fdec6e;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}


/* regole header */

header{
    background-image: url("C:/Users/Menta/Menta Boolean/htmlcss-discord/img/jumbo.png");
    background-size: cover;
    margin-bottom: 30px;
    color: white;
}
header ul li a{
    text-decoration:none ;
    color: white;
    
}
header ul li a:hover{
    text-decoration:underline;
}

header ul li{
    justify-content: space-around;
    padding-right: 40px;
}
header p{
    line-height: 30px;
}
header section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 165px;
    width: 50%;
    margin: 0% 25%;
}
main section:first-child{
    padding-top: 100px;
}
#main-nav,#footer-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#main-nav{
    height: 200px;
    align-content: flex-start;
    padding-top: 10px;
}

#logo{
    font-size: 40px;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    /* flex-basis: 400px; */
}

.white{
    background-color: white;
    color:black;
}

section{
    justify-content: center;
    flex-wrap: wrap;
}
section.upndown.grey-back{
    padding-bottom: 30px;
}
h1{
    font-size: 50px;
    padding-bottom: 30px;
    
}
#center-text{
    text-align: center;
    font-size: 22px;
    padding-bottom: 15px;

}

header section div {
     padding-right: 20px; /*trova il modo di far avere il padding solo al primo div e non ad entrambi */
}


/* regole parte centrale */
main h2{
    font-size: 70px;
}
main h3{
    padding-top: 30px;
    font-size: 30px;

}
main p{
    font-size: 30px;
    line-height: 40px;
    padding-top: 30px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    

}
.white-back{
    background-color: white;
}
.grey-back{
    background-color: rgb(246,246,246);
    padding: 0px 0px;
}
.box-img{
    max-height: 50%;
}
.box-img2{
    width: 80%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.box-img2 img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
.white-back .box-img{
    padding-right: 50px;
}


.box-text{
    width: 30%;
}
.box-text2{
    width: 80%;
}
.upndown{
    align-items: center;
    
}

.upndown .box-img2{
    padding: 0px 0px 50px 0px;
    width: 80%;
}
.upndown .box-text{
    justify-content: center;
    width: 60%;
    text-align: center;
    padding-bottom: 50px;
}
.upndown.grey-back{
    justify-content: center;
    text-align: center;
    
}
.stars{
    background-image: url("C:/Users/Menta/Menta Boolean/htmlcss-discord/img/stars.svg");
    background-size: 32%;
    background-position: top;
    background-repeat: no-repeat;
}
div.stars.box-text{
    width: 100%;
}
/* regole nav secondaria */

.sidebar{
width: 25%;
padding-left: 10px;
}
.sidebar ul{
    list-style-type: none;
}

/* regole contenuto principale */

main section{
    display: flex;
    justify-content: center;
}

/* regole footer */

footer{
    min-height: 350px;
    background-color: rgb(35,39,42);

}
footer ul{
    list-style: none;
    align-items: baseline;
}

footer ul li:first-child{
    color: rgb(88,101,242);
}

footer ul li{
    line-height: 35px;
    color: white;
}
footer ul a{
    text-decoration: none;
    color: white;
}
footer ul a:hover{
    text-decoration: underline;
}
#footer-nav-top{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: solid 2px rgb(88,101,242);
    width: 80%;
    margin: 0px 10%;
    padding: 40px 0px 20px 0px;
}
#footer-nav-top h2{
    font-size: 40px;
}
#footer-nav-top ul:first-child{
    width: 25%;
}
#footer-nav-top ul li{
    padding: 5px;
}
#footer-nav-top select{
    border: none;
    background-color: rgb(35,39,42);
    color: white;
}

div#footer-nav-top img{
    width: 7%;

}

#footer-nav-bottom{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px 10%;
    padding-bottom: 20px;
}

div#footer-nav-top ul li i{
    padding-right: 15px;
    font-size: 20px;
    
}

 /* DEBUG  */

.sidebar{
    background-color: crimson;
    min-height: 150px;
    padding-left: 15px;
}

main{
    background-color: aqua;
    min-height: 300px;
}


